.footer {
  margin: auto;
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
}

@media screen and (max-width: 618px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
