.profile__avatar-icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 26px 26px;
  background-image: url(../../../images/avatar-icon.svg);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  left: -2px;
  top: -2px;
  width: 125px;
  height: 125px;
  position: absolute;
  opacity: 0;
}

.profile__avatar-icon:hover {
  opacity: 1;
  transition: opacity .2s ease;
}

