.popup__success-image {
  margin: 60px auto 32px;
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;

}


@media screen and (max-width:618px) {
  .popup__success-image {
    margin: 50px auto 40px;
  }
}