.header {
  margin: auto;
  max-width: 880px;
  min-height: 74px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

@media screen and (max-width:425px) {
  .header {
    min-height: 56px;
}
}
